.homeContainer{
    background-color: rgb(255, 255, 255);
    height: 100vh;
}
.Burger{
    display:flex;
    justify-self: center;
    width: 300px;
    padding-top: 50px;
}
.footerContainer{
    padding-top:43%;
    background: rgb(209, 209, 209);
}